<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,user-scalable=no"/>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <title>过滤器</title>
</head>
<body>
<div id="filter">
    <h1>capitalize过滤器：将小写字母转化成首字符大写</h1>
    <h4>这是个小写字母过滤器----{{letters|capitalize}}</h4>
    <h1>uppercase过滤器：将小写字母转化成大写字母</h1>
    <h4>这是个小写字母转化成大写字母-----{{smallLetters|uppercase}}</h4>
    <h1>lowercase过滤器：将大写字母转化成小写字母</h1>
    <h4>这是个大写字母转化成小写字母-----{{bigLetters|lowercase}}</h4>
    <h1>currency过滤器：将数字中加上符号</h1>
    <h4>这是个给数字加上符号其中默认符号为$-----{{sum|currency}}</h4>
    <h4>这是个给数字加上符号其中默认符号为£-----{{sum|currency '£'}}</h4>
    <h1>pluralize过滤器：将数字</h1>
    <h4>如果只有一个参数，复数形式只是简单地在末尾添加一个 “s”。如果有多个参数，
        参数被当作一个字符串数组,对应一个、两个、三个…复数词。如果值的个数多于参数的个数，多出的使用最后一个参数。</h4>
    <h4>共{{count}} {{count | pluralize 'apple'}}</h4>
    <h4>{{counts}}{{counts | pluralize 'st' 'nd' 'rd' 'th'}}</h4>
    <h1>json</h1>
    <h4>输出经 JSON.stringify() 处理后的结果，而不是输出 toString() 的结果（如 [object Object]）。</h4>
    <h4><pre>{{users|json 4}}</pre></h4>
    <h1>debounce: 指令的值须是函数，如 v-on</h1>
    <h4>包装处理器，让它延迟执行 x ms， 默认延迟 300ms。包装后的处理器在调用之后至少将延迟 x ms，
        如果在延迟结束前再次调用，延迟时长重置为 x ms。</h4>
    <h4><button @keyup="onKeyup | debounce 500">测试</button></h4>
    <h4>这是一个有延迟的msg————{{message}}</h4>
    <h4>  <input type="text" v-model="message" debounce="500" placeholder="填在这里"/></h4>
     <h1>limitBy:指令的值须是数组，如 v-for</h1>
    <h4>限制数组为开始 N 个元素，N 由第一个参数指定。第二个参数是可选的，指定开始的偏移量。</h4>
    <h4>只显示开始5个元素:
        <div v-for="user in users | limitBy 5">
        <div >{{user.name}}</div>
        </div>
        只显示5到11个元素:第一个是数量，第二个数从第几个开始
        <div v-for="user in users | limitBy 6 5">
            <div>{{user.name}}</div>
        </div>
    </h4>
    <h1>filterBy: 指令的值须是数组，如 v-for</h1>
    <h4>返回过滤后的数组。第一个参数可以是字符串或函数。

        如果第一个参数是字符串，则在每个数组元素中搜索它：

        <div v-for="user in users | filterBy 'hello'">
            {{user.name}}
        </div>
            在上例中，只显示包含字符串 "hello" 的元素。</h4>
    <h4>
        如果 item 是一个对象，过滤器将递归地在它所有属性中搜索。为了缩小搜索范围，可以指定一个搜索字段：

        <div v-for="user in users | filterBy 'Jack' in 'name'"></div>
            在上例中，过滤器只在用户对象的 name 属性中搜索 "Jack"。为了更好的性能，最好始终限制搜索范围。
    </h4>
    <h4>
        <input v-model="name">
        <ul>
            <li v-for="user in users | filterBy name in 'name'">
                {{ user.name }}
            </li>
        </ul>
    </h4>
</div>
<script>
    var filter =new Vue({
        el:"#filter",
        data:{
            message:"哈哈哈哈",
            bigLetters:"ABC",
            smallLetters:"abc",
            letters:"abcdef",
            sum:"12398454",
            count:1,
            counts:1,
            users:[
                {name:"1qweqw"},
                {name:"2tyrtr"},
                {name:"3hgjngh"},
                {name:"4kljjkl"},
                {name:"5assjkl"},
                {name:"6sasajkl"},
                {name:"7xcvz"},
                {name:"8werwer"},
                {name:"9werytt"},
                {name:"10wefdgd"},
                {name:"11weafad"},
                {name:"12saffsdf"},
                {name:"13uyiyuiy"}
            ]
        },
        methods:{
            onKeyup:function(){
                alert("dsds");
            }
        }
    })
</script>
</body>
</html>

