<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,user-scalable=no"/>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <title>控制功能</title>
</head>
<body>
<div id="view_model">
    <h2>Hello {{name}}</h2>
    <ul v-for="dataitme in title">
        <!--v-for指令基于一个数组渲染一个列表 item in items，items 是数据数组，item 是当前数组元素的别名-->
        <li id="a{{$index}}">{{ dataitme.id|filterA}}</li>
        <li>{{dataitme.test}}</li>
        <li>{{dataitme.test2}}</li>
        <ul v-for="neiitem in dataitme.test3">
            <!--里面的循环用dataitme.test3-->

            <li>{{neiitem.neitest}}</li>
            <li>{{neiitem.neitest2}}</li>
            <br/>
        </ul>
    </ul>
    <h2>计算属性</h2>
    <div class="" id="example">
        a={{a}},b={{b}}
    </div>
    {{#if testdemo}}
    <h3 style="color:red">我是对的了</h3>
    {{/if}}
    <div>
        <h1>{{content.con_test}}</h1>
        <br/>
        <h2>{{content.con_test2}}</h2>
        <br/>
        <h3>{{content.con_test3}}</h3>
    </div>
  <h3>在 v-for 块内我们能完全访问父组件作用域内的属性，另有一个特殊变量 $index，正如你猜到的，它是当前数组元素的索引</h3>
    <ul>
        <li v-for="item in title">
            {{item.test}}-{{$index}}-{{item.test2}}
        </li>
    </ul>
    <h3>你可以为索引指定一个别名（如果 v-for 用于一个对象，则可以为对象的键指定一个别名）</h3>
    <div v-for="(index, item) in title">
        {{ index }} {{ item.test }}
    </div>
    <h2>Vue.js 包装了被观察数组的变异方法，故它们能触发视图更新。被包装的方法有：

    </h2>
    <ul>
        <li>   push()方法可向数组的末尾添加一个或多个元素，并返回新的长度。  </li>
        <li> pop() 来删除并返回数组的最后一个元素arrayObject.pop()</li>
        <li> shift()方法用于把数组的第一个元素从其中删除，并返回第一个元素的值。arrayObject.shift()</li>
        <li> unshift()方法可向数组的开头添加一个或更多元素，并返回新的长度。unshift("dsds","dsds",..)</li>
        <li>   splice()方法可从已有的数组中返回选定的元素。 splice(1，2)</li>
        <li>    sort() 方法用于对数组的元素进行排序。</li>
        <li>  reverse() 方法用于颠倒数组中元素的顺序。</li>
        <li>filter() 方法将匹配元素集合缩减为匹配指定选择器的元素。过滤的作用 .filter(".class")</li>
        <li>concat() 方法用于连接两个或多个数组。
            该方法不会改变现有的数组，而仅仅会返回被连接数组的一个副本。arrayObject.concat(arrayX,arrayX,......,arrayX)</li>
        <li>splice() 方法向/从数组中添加/删除项目，然后返回被删除的项目。arrayObject.splice(删除位置,删除数量,item1,.....,itemX)</li>
    </ul>
    <h3>push()介绍使用:给title数组推送一个对象</h3>
    <h4>exampleVM.title.push({test:'sdds'});
        exampleVM:表示定义的vue，
        title:数组的名称，
        push:推送一个对象
        {test:'dsdssd'}:test代表元素名称，{}代表对象

    </h4>
    <h1>track-by</h1>
    <div v-for="item in title" track-by="test">
       我试试管用吗track-by
    </div>
    <h1>$key</h1>
    <h5>也可以使用 v-for 遍历对象。除了 $index 之外，作用域内还可以访问另外一个特殊变量 $key，$key文件名</h5>
    <ul>
        <li v-for="item in content">
            {{$key}}:{{item}}
        </li>
    </ul>
    <h5>也可以给对象的键提供一个别名：</h5>
    <div v-for="(key,val) in content">
        {{key}} {{val}}
    </div>
    <div>
        <span v-for="n in 10">{{n }} </span>
    </div>
</div>
<script>
    var exampleData={
        name:'VueJs',
        a:1,
        title:[
            {
                id:'1',
                test:'这是个循环哈哈哈',
                test2:'我是副标题',
                test3:[
                    {
                        neitest:'这是里面的循环哈哈哈',
                        neitest2:'我是第二条副标题'
                    },
                    {
                        neitest:'这是里面的第二个循环哈哈哈',
                        neitest2:'我是第二条副标题'
                    },
                    {
                        neitest:'这是里面的第三个循环哈哈哈',
                        neitest2:'我是第二条副标题'
                    }
                ]
            },
            {
                id:'2',
                test:'这是第二条循环哈哈哈',
                test2:'我是第二条副标题',
            },
            {
                id:'3',
                test:'这是第三条循环哈哈哈',
                test2:'我是第三条副标题'
            }
        ],
        content:{
            con_test:'这是内容1，哈哈哈哈哈',
            con_test2:'这是内容2，啊啊啊啊啊',
            con_test3:'这是内容3，耶耶耶耶耶'
        }
    };
    Vue.filter('filterA',function(id){
        for(var i=0;i<id;i++)
        if(id==2){
            id=parseInt(id)+100;

        }
       return id;
    });
var exampleVM=new Vue({
    el:'#view_model',
    data:exampleData,
    computed:{
        // 一个计算属性的 getter
        b:function(){
            // `this` 指向 vm 实例
            return this.a + 1
        },
        testdemo:function(){

        }
    },
    ready:function(){//加载完执行

                document.getElementById("a1").style.background="#aaa";


    }
});


</script>
</body>
</html>